.validated-plates{
    display: grid;
    grid-template-columns: repeat(3, 15rem); 
}

.plate-number{
    color:black;
    font-size: large;
}

.plate-validity{
    text-align: center;
    font-size: medium;
    text-transform: uppercase;
}

.license-type{
    font-size: large;
    text-transform: capitalize;
    font-weight: bold;
}

.new{
    color: rebeccapurple;
}

.vintage{
    color:red;
}

.old{
    color:orange;
}

.validated-plate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
    padding: 1rem;
    margin: 1rem 1rem;
    border: 2px solid lightseagreen;
    border-radius: 5px;
}
